body {
  text-align:left;
  font-family:"verdana";
  font-size:15px;
}

th {
  text-align:left;
  font-family:"verdana";
  font-size:10px;
  font-weight:lighter;
}
.dotList {
  list-style: disc outside;
}
.alphaList {
  list-style-type: lower-alpha;
}



[data-raseType="RequirementSection"] {
  background-color:#bbbbdd;
  border-top:    1px solid #696ff6;
  border-bottom: 1px solid #696ff6;
  border-left:   1px solid #696ff6;
  border-right:  1px solid #696ff6;
  padding:0px;
  	margin-top:1px;
  	margin-bottom:1px;
  	margin-right:10px;
  	margin-left:24px;
  text-align:left;
  text-indent:5px;
  direction:ltr;
  display:block;

  stroke:blue;   
  stroke-width:1; 
  fill:lightblue;
}

[data-raseType="ApplicationSection"] {
  background-color:#77dd77;
  border-top:    1px  dashed #00aa00;
  border-bottom: 1px  dashed #00aa00;
  border-left:   1px  dashed #00aa00;
  border-right:  1px  dashed #00aa00;
  padding:0px;
  	margin-top:1px;
  	margin-bottom:1px;
  	margin-right:10px;
  	margin-left:24px;
  text-align:left;
  text-indent:5px;
  direction:ltr;
  display:block;

  stroke:green;  
  stroke-width:1; 
  fill:lightgreen; 
  stroke-dasharray:10, 5;  
							 
}

[data-raseType="SelectionSection"] {
  background-color:#ff99ff;
  border-top:    1px dotted #550055;
  border-bottom: 1px dotted #550055;
  border-left:   1px dotted #550055;
  border-right:  1px dotted #550055;
  padding:0px;
  	margin-top:1px;
  	margin-bottom:1px;
  	margin-right:10px;
  	margin-left:24px;
  text-align:left;
  text-indent:5px;
  direction:ltr;
  display:block;

  stroke:purple; 
  stroke-width:1; 
  fill:lightgrey;  
  stroke-dasharray:5, 5; 
							 
}

[data-raseType="ExceptionSection"] {
  background-color:#fdfd82;
  border-top:    2px double #da8d02;
  border-bottom: 2px double #da8d02;
  border-left:   2px double #da8d02;
  border-right:  2px double #da8d02;
  padding:0px;
  	margin-top:1px;
  	margin-bottom:1px;
  	margin-right:10px;
  	margin-left:24px;
  text-align:left;
  text-indent:5px;
  direction:ltr;
  display:block;
  
  stroke:orange; 
  stroke-width:1; 
  fill:yellow; 
							
}

[data-raseType="Requirement"] {
  color:#252dd2;
  text-decoration: underline;
  text-align:left;
  text-indent:0px;
  direction:ltr;

  stroke:blue;   
  stroke-width:1; 
  fill:lightblue;
}

[data-raseType="Application"] {
  color:#00aa00;
  text-decoration:underline;
  text-decoration-style:dashed;
  text-align:left;
  text-indent:0px;
  direction:ltr;

  stroke:green;  
  stroke-width:1; 
  fill:lightgreen; 
  stroke-dasharray:10, 5; 
}

[data-raseType="Selection"] {
  color:#550055;
  text-decoration:underline;
  text-decoration-style:dotted;
  text-align:left;
  text-indent:0px;
  direction:ltr;

  stroke:purple; 
  stroke-width:1; 
  fill:lightgrey;  
  stroke-dasharray:5, 5;
							 
}

[data-raseType="Exception"] {
  color:#da8d02;
  text-decoration:underline;
  text-decoration-style:double;
  text-align:left;
  text-indent:0px;
  direction:ltr;

  stroke:orange; 
  stroke-width:1; 
  fill:yellow;  
}

[data-raseType="RequirementSection"]:after, [data-raseType="ApplicationSection"]:after, [data-raseType="SelectionSection"]:after, [data-raseType="ExceptionSection"]:after {
  content: " "attr(id)" ";
  padding:1px;
  display:none;
  position:relative;
  float:right;
  bottom:0%;
  right:0%;
  width:30px;
  text-align:left;
  font-family:"verdana";
  font-size:9px;
  font-weight:bold;
  background-color:#ffffff;
  border-radius:2px;
  border:2px solid#000000;
  border-color:lightgray black black lightgray;
}

[data-raseType="RequirementSection"]:hover:after, [data-raseType="ApplicationSection"]:hover:after, [data-raseType="SelectionSection"]:hover:after, [data-raseType="ExceptionSection"]:hover:after {
  display:block;
}

[data-raseType="Requirement"]:after, [data-raseType="Application"]:after, [data-raseType="Selection"]:after, [data-raseType="Exception"]:after {
  padding:1px;
  display:none;
  position:absolute;
  text-align:left;
  font-family:"verdana";
  font-size:10px;
  font-weight:bold;
  background-color:#ffffff;
  border-radius:2px;
  border:1px solid#000000;
}

[data-raseType="Requirement"]:hover:after, [data-raseType="Application"]:hover:after, [data-raseType="Selection"]:hover:after, [data-raseType="Exception"]:hover:after {
  display:inline;
}

[data-raseType="Requirement"]:after, [data-raseType="Application"]:after, [data-raseType="Selection"]:after, [data-raseType="Exception"]:after {
  content: " "attr(id)" "attr(data-raseProperty)" "attr(data-raseComparator)" "attr(data-raseTarget)" "attr(data-raseUnit)" ";
}

